# API Keys
TOGETHER_API_KEY=your_together_api_key
EXA_API_KEY=your_exa_api_key
HELICONE_API_KEY=

# Upstash Redis Configuration
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token

# Postgres Database to store messages and deepresearches
DATABASE_URL=postgresql://url

# Qstash Workflow Configuration
QSTASH_URL="http://127.0.0.1:8080"
QSTASH_TOKEN=<QSTASH_TOKEN>

# S3 AWS Credentials to upload the research cover image
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
S3_UPLOAD_BUCKET=
S3_UPLOAD_REGION=

# CLERK for Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=